@model BancoEstadoBodega.Models.SolicitudViewModel
@{
    ViewBag.Title = "Producto";

}

<!-- Seccion que muestra la lista de productos -->
<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 pull-right">
                    @using (Html.BeginForm("ExportDataProductos", "ExportExcel", FormMethod.Post))
                    {
                        <p align="right">
                            <button type="submit" name="btnExportLicensing" value="Export" id="exportLicensing" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Exportar Stock</button>
                        </p>
                    }
                </div>
                @if (ViewContext.HttpContext.User.IsInRole("administradores"))
                {
                <div class="col-md-2 pull-right">
                    <p align="right">
                        <button onclick="AgregarNuevo()" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Nuevo</button>
                    </p>
                </div>
                }
            </div>
        </div>
        <div class="panel panel-default" style="width:105%;position:relative; top:20px; left:-40px;">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Lista Productos</h3>
            </div>
            <div class="panel-body">
                    <form action="@Url.Action("Producto", "Administracion")" enctype="multipart/form-data" method="post" class="form-inline">
                        <div class="form-group">
                            <label for="IDCategoria">Categoria</label>
                            @Html.DropDownList("IDCategoria", null, "Todos", htmlAttributes: new { @class = "form-control input-sm" })
                        </div>
                        <button type="submit" class="btn btn-default btn-sm">Filtrar</button>
                    </form>
                <br />

                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr class="success">
                                <th>N°</th>
                                <th>Descripción</th>
                                <!--<th>Categoria</th>-->
                                <th>Stock</th>
                                @if (ViewContext.HttpContext.User.IsInRole("administradores") || ViewContext.HttpContext.User.IsInRole("Compradores"))
                                {
                                    <th>Acuerdo</th>
                                }       
                                @if (ViewContext.HttpContext.User.IsInRole("administradores") || ViewContext.HttpContext.User.IsInRole("Compradores"))
                                {
                                    <th>Unidades pendientes</th>
                                    <th>Unidades vendidas</th>
                                }                             
                                
                                <th>Precio Unitario Neto</th>
                                <th>Tiempo reposición</th>
                                <th>Observaciones</th>
                                <th>Foto</th>
                                @if (ViewContext.HttpContext.User.IsInRole("administradores") || ViewContext.HttpContext.User.IsInRole("Compradores"))
                                {
                                    <th>Detalle</th>
                                }
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.lista)
                            {
                                var listaP = Model.lista2;
                                <tr>

                                    <td>@item.IDProducto</td>
                                   
                                                                        
                                    <td>
                                        @item.Nombre
                                    </td>
                                    <!--
                                        <td>
                                        @item.CATEGORIA.Nombre
                                    </td>
                                    -->
                                    

                                    <td> @string.Format("{0:N0}", @item.CantidadTotal)</td>
                                   
                                    @if (ViewContext.HttpContext.User.IsInRole("administradores") || ViewContext.HttpContext.User.IsInRole("Compradores"))
                                    {
                                        <td> @string.Format("{0:N0}", @item.stock_ideal) </td>
                                    }                               
                                    

                                    @if (ViewContext.HttpContext.User.IsInRole("administradores") || ViewContext.HttpContext.User.IsInRole("Compradores"))
                                    {
                                        <td> @string.Format("{0:N0}", @item.pendiente)  </td>

                                        if (listaP.Any(x => x.idProducto == item.IDProducto))
                                        {
                                            listaP = listaP.Where(x => x.idProducto == item.IDProducto).ToList();
                                            var suma = listaP.Sum(x => x.cantidad);
                                            <td>@string.Format("{0:N0}", suma) </td>

                                        }
                                        else
                                        {
                                            <td>Sin Movimiento</td>
                                        }


                                    }   
                                    
                                   

                                    @if (@item.PrecioUni != null)
                                    {
                                        <td> @string.Format("{0:C0}", + @item.PrecioUni) </td>
                                    }
                                    else{ 
                                    <td>Valor desconocido</td>
                                    }
                                    
                                    @if (@item.TiempoReposicion == null)
                                    {
                                        <td>No definido</td>
                                    }
                                    else
                                    {
                                        <td> @item.TiempoReposicion </td>
                                    }

                                    <td>
                                        @item.Obs
                                    </td>
                                    
                                    <td>
                                      
                                        <a href="#myID-@item.IDProducto"  data-toggle="modal"> <img width="50" height="50" src="https://pruebasmarco.blob.core.windows.net/losheroesblob/@(item.UrlImagen)" alt="Img Producto" onerror="imgError(this);" /></a>
                                        <div class="modal fade" id="myID-@item.IDProducto">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Header de la ventana -->
                                                    <div class="modal-header">
                                                        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                        <h4 class="modal-title">@item.Nombre</h4>
                                                    </div>

                                                    <!-- Contenido de la Ventana -->
                                                    <div class="modal-body">
                                                        <img class="thumbnail img-responsive" src="https://pruebasmarco.blob.core.windows.net/losheroesblob/@(item.UrlImagen)" name="1" alt="Img Producto" onerror="imgError(this);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </td>

                                    

                                       

                                        @if (ViewContext.HttpContext.User.IsInRole("administradores") || ViewContext.HttpContext.User.IsInRole("Compradores"))
                                        {
                                            <td class="text-center">
                                                <a class="btn btn-success btn-xs" title="Detalles" href="../../Administracion/Detalles/@item.IDProducto"> <span class="glyphicon glyphicon-folder-open"></span>Ver mas</a>
                                                <br>
                                                <a class="btn btn-success btn-xs" title="Detalles" href="../../Administracion/Editar/@item.IDProducto"> <span class="glyphicon glyphicon-edit"></span>Editar Datos</a>
                                                <br />
                                                <a class="btn btn-success btn-xs" title="Detalles" href="../../Administracion/EditarImagen/@item.IDProducto"> <span class="glyphicon glyphicon-camera"></span>Editar Imagen</a>
                                            </td>
                                        }


                                                <!--  a class="btn btn-info btn-sm" title="Editar" onclick="Editar(Editar('@item.IDProducto'))" href="#"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                                -->

                                            
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ventana agregar producto/-->

<div class="modal fade" id="modalCrearCategoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="@Url.Action("AgregarProducto", "Administracion")" enctype="multipart/form-data" method="post">
                <div class="modal-header btn-primary">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Agregar Producto</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon">SKU</span>
                        <input type="text" class="form-control" name="Codigo" placeholder="Codigo" maxlength="50" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Nombre</span>
                        <input type="text" class="form-control" name="Nombre" placeholder="Nombre" maxlength="100" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Descripción</span>
                        <textarea class="form-control" rows="3" name="Descripcion" placeholder="Descripción del producto (200 Carácteres Máx.)"></textarea>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Imagen</span>
                        <input type="file" id="imagenProducto" name="imagenProducto" class="input-file" >
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Stock Acuerdo</span>
                        <input type="number" class="form-control" name="stock_ideal" placeholder="Stock Ideal (En Unidades)" min="0" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Stock Actual</span>
                        <input type="number" class="form-control" name="CantidadTotal" placeholder="Stock Actual (En Unidades)" min="0" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Stock Pendiente</span>
                        <input type="number" class="form-control" name="pendiente" placeholder="Stock Pendiente (En Unidades)" min="0" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Producto C/ Logo</span>
                        <input type="number" class="form-control" name="ProductoConLogo" placeholder="Productos con logo (En Unidades)" min="0" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Producto S/ Logo</span>
                        <input type="number" class="form-control" name="ProductoSinLogo" placeholder="Productos sin logo (En Unidades)" min="0" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Precio U. Neto</span>
                        <input type="text" class="form-control" name="PrecioUni" placeholder="Precio Unitario Neto" maxlength="100" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Posicion</span>
                        <input type="text" class="form-control" name="Posicion" placeholder="Posicion" maxlength="100" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Reposición</span>
                        <input type="text" class="form-control" name="TiempoReposicion" placeholder="Reposición" maxlength="100" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Packing</span>
                        <input type="text" class="form-control" name="Packing" placeholder="Descripcion Packing" maxlength="100" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">Vencimiento</span>
                        <input type="text" class="form-control" name="Vencimiento" placeholder="Vencimiento" maxlength="100" required>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon">SubCategorias</span>
                        @Html.DropDownList("IDCategoriaFK", null, "", htmlAttributes: new { @class = "form-control input-sm" })
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
        $('[rel="popover"]').popover({
            container: 'body',
            html: true,
            content: function () {
                var clone = $($(this).data('popover-content')).clone(true).removeClass('hide');
                return clone;
            }
        }).click(function (e) {
            e.preventDefault();
        });
    });

    function AgregarNuevo() {
        $('#modalCrearCategoria').modal('show');
    }


</script>

<script type="text/javascript">
    $(document).ready(function () {
        /* Valida el tamaño maximo de un archivo adjunto */
        $('.input-file').change(function () {
            var sizeByte = this.files[0].size;
            var siezekiloByte = parseInt(sizeByte / 1024);

            if (siezekiloByte > 300) {
                alert('El tamaño supera el limite permitido (300kb)');
                $(this).val('');
            }
        });
    });
</script>

<script type="text/javascript">
    function imgError(image) {
        image.onerror = "";
        image.src = "https://pruebasmarco.blob.core.windows.net/prueba-fotos/noimage.jpg";
        return true;
    }
</script>

